* {
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}
#waybar {
  background-color: rgba(34, 36, 54, 0.95);

  color: #c8d3f5;
  border-radius: 15px;
}

#clock,
#battery,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#custom-electricity,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}
#mode {
  color: #c8d3f5;
  background: #bf616a;
}
#workspaces button {
  font-weight: normal;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  color: #c8d3f5;
}
#workspaces button.focused {
  font-weight: bold;
  color: #a3be8c;
}
#workspaces button.active {
  font-weight: bold;
  color: #86e1fc;
}
#battery {
  color: #c3e88d;
}
#network {
  color: #c099ff;
}
#pulseaudio {
  color: #82aaff;
}
#clock {
  color: #ffc777;
}
