* {
	font-family: "Fira Code", monospace;
}
window {
	background-color: #222436;
	border-radius: 10px;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	background-color: #2D3F76;
	color: white;
}

#inner-box {
	background-color: #222436;
}

#outer-box {
	margin: 2px;
	padding: 10px;
	background-color: #222436;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: white;
}

#entry:nth-child(even){
	background-color: #2F334D;
}

#entry:selected {
	background-color: #2D3F76;
}

#text:selected {
	background: transparent;
}
